<!--BANNER START-->
<div id="events">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <img ng-src="./lib/images/event-banner.jpg">
                <div class="carousel-caption">
                    <a href="#" class="btn btn-banner booknow">Book your ticket<i class="fa fa-send"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
        <div class="col-md-8">
            <div class="date"><b>Event Date:</b> December 25, 2017</div>
            <div class="time"><b>Event Time:</b> 00:00:00</div>
            <div class="section-padding">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </div>
        </div>
        <div class="col-md-4">
            <div class="">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.7098397610266!2d77.2491030141857!3d28.548439982451043!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3cffcd3e7f9%3A0xc6a505a49a71bdf2!2sIndian+Network+Co!5e0!3m2!1sen!2sin!4v1509828139421"
                    width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="section-padding">
                <strong>India Network</strong>
                <br/>1355 Market St, Suite 900
                <br/>San Francisco, CA 94103
                <br/><abbr title="Phone">P:</abbr> +91 999999999
            </div>
            <div class="section-padding">
                <a href="#" class="btn booknow">Book your ticket<i class="fa fa-send"></i></a>
            </div>
        </div>
        </div>
    </div>
</div>
<!--BANNER END-->
