<!--BANNER START-->
<div id="aboutus">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <carousel interval="myMainInterval" class="carousel">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <p class="big" ng-if="slide.captionTop">{{slide.captionTop}}</p>
                            <h1 class="small">{{slide.heading}}</h1>
                            <p class="big" ng-if="slide.caption">{{slide.caption}}</p>
                            <a class="btn btn-banner uppercase"  data-toggle="modal" data-target="#communityModal">Create My Biodata Now</a>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
<!--BANNER END-->
<div id="thewedding" class="cta-1">
    <div class="container">
        <div id="id1" class="row wpb_row pix-row-overlay">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                        <h2 style="font-size: 40px;color: #232c30;text-align: center"
                            class="vc_custom_heading thin vc_custom_1487789525383">Three Simple Steps to Create Biodata</h2>
                        <div class="stats row-counters pix-easy-chart">
                            <div class="b-info-columns-holder b-steps-list">
                                <div class="row equal futurico_steps">
                                    <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                         data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.1s"
                                         style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.1s; animation-name: fadeIn;">
                                        <div class="info-column-icon ">
                                            <i class="fa fa-search"></i>
                                            <span class="step-number">
                        1
                    </span>
                                        </div>
                                        <h6 class="info-column-title">
                                            Select </h6>
                                        <div class="info-column-text">
                                            <p>
                                                Phasellus sed elementum nulla. Integer eleifend lobortis felis in
                                                auctor </p>
                                        </div>
                                    </div>
                                    <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                         data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s"
                                         style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.4s; animation-name: fadeIn;">
                                        <div class="info-column-icon ">
                                            <i class="fa fa-filter"></i>
                                            <span class="step-number">
                        2
                    </span>
                                        </div>
                                        <h6 class="info-column-title">
                                            Modify </h6>
                                        <div class="info-column-text">
                                            <p>
                                                Phasellus sed elementum nulla. Integer eleifend lobortis felis in
                                                auctor </p>
                                        </div>
                                    </div>
                                    <div class="b-info-column col-xs-12 col-sm-4 col-md-4 wow fadeIn  animated animation-done"
                                         data-animation="fadeIn" data-wow-duration="1.5s" data-wow-delay="0.7s"
                                         style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.7s; animation-name: fadeIn;">
                                        <div class="info-column-icon">
                                            <i class="fa fa-download"></i>
                                            <span class="step-number">
                        3
                    </span>
                                        </div>
                                        <h6 class="info-column-title">
                                            Download </h6>
                                        <div class="info-column-text">
                                            <p>
                                                Phasellus sed elementum nulla. Integer eleifend lobortis felis in
                                                auctor </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Partner START-->
<div id="partner" class="section-padding-40">
    <div class="container">
        <div class="row">
            <div class="topsign page-title text-center">
                <div class="col-md-5 uppercase">
                    <span class="names_titles">The Bride</span>
                    <h2 class="uppercase">Jennifer Harrison</h2>
                </div>
                <div class="col-md-2"><h1>&</h1></div>
                <div class="col-md-5 uppercase">
                    <span class="names_titles">The Groom</span>
                    <h2>Jennifer Harrison</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="partner_container">
                    <span class="about_picframe"></span>
                    <div class="about_social">
                        <a href="#"><i class="fa fa-facebook fa-4x"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-4x"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p fa-4x"></i></a>
                    </div>
                    <div class="about_pic">
                        <img src="./lib/images/bride.jpg" class="img-responsive">
                    </div>
                    <div class="fig-caption">
                        <p class="marb-20">Love is friendship that has caught fire. It is quiet understanding, mutual
                            confidence, sharing and forgiving. It is loyalty through good and bad times. It settles for
                            less than perfection and makes allowances for human weaknesses "LOVE QUOTE":</p>
                        <p><i class="fa fa-heart-o"></i> <i>Sometimes the heart sees what is invisible to the eye.</i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="partner_container">
                    <span class="about_picframe"></span>
                    <div class="about_social">
                        <a href="#"><i class="fa fa-facebook fa-4x"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-4x"></i></a>
                        <a href="#"><i class="fa fa-pinterest-p fa-4x"></i></a>
                    </div>
                    <div class="about_pic">
                        <img src="./lib/images/groom.jpg" class="img-responsive">
                    </div>
                    <div class="fig-caption">
                        <p class="marb-20">I believe that imagination is stronger than knowledge. That myth is more
                            potent than history. That dreams are more powerful than facts. That hope always triumphs
                            over experience. That laughter is the only cure for grief. And I believe that love is
                            stronger than death "LOVE QUOTE":</p>
                        <p><i class="fa fa-heart-o"></i> <i>Sometimes the heart sees what is invisible to the eye.</i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Partner END-->

<!--Mentor START-->
<div id="mentor" class="section-padding">
    <div class="carousel-background">
        <div class="carousel-background-black">
            <div class="container">
                <div class="row">
                    <div class="page-title text-center uppercase">
                        <h1>Our Bridesmaids and groomsmen's</h1>
                        <span class="names_titles">Best Man & Maid of Honor</span>
                    </div>

                    <carousel>
                        <slide>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/bride_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Julie</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/groom_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Evan</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/bride_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Joe Berry</h3>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide>
                            <div class="col-md-3 col-md-offset-1">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/groom_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Vincent Lin</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/bride_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Pet Kerry</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="team-info">
                                    <div class="img-sec">
                                        <img src="./lib/images/groom_image_1.jpg" class="img-responsive">
                                        <h3 class="uppercase bold">Zeeshan Khan</h3>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                    <div class="view-all">
                        <a class="uppercase btn btn-block view-all-btn">View All BrideMaids and Groomsmen's</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Mentor END-->

<!--TESTIMONIAL START-->
<div id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center uppercase">
                <h1>From the blog</h1>
            </div>

            <div class="col-md-4">
                <div class="blog_container">
                    <div class="blog_pic uppercase">
                        <span>20 June 2015</span>
                        <h3>The purposal was amazing</h3>
                        <a class="view-all-btn">Read More</a>
                    </div>
                    <img src="./lib/images/post_thumb1.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog_container">
                    <div class="blog_pic">
                        <span>20 June 2015</span>
                        <h3>The purposal was amazing</h3>
                        <a class="view-all-btn">Read More</a>
                    </div>
                    <img src="./lib/images/post_thumb2.jpg" class="img-responsive">
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog_container">
                    <div class="blog_pic">
                        <span>20 June 2015</span>
                        <h3>The purposal was amazing</h3>
                        <a class="view-all-btn">Read More</a>
                    </div>
                    <img src="./lib/images/post_thumb3.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<!--TEAM END-->

<!--SERVICE START-->
<div id="service" class="service section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="service-box">
                    <div class="page-title text-center">
                        <div class="bottom_icon"><img src="./lib/images/icon_music.png" alt="" title=""></div>
                        <h2>Bachelor Party</h2>
                        <span> Bring your dancing shoes</span>
                    </div>
                    <div class="service-text">
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="page-title text-center">
                        <div class="bottom_icon"><img src="./lib/images/icon_location.png" alt="" title=""></div>
                        <h2>Wedding Location</h2>
                        <span>Venice, Italy - Hotel Adam </span>
                    </div>
                    <div class="service-text">
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="page-title text-center">
                        <div class="bottom_icon"><img src="./lib/images/icon_gifts.png" alt="" title=""></div>
                        <h2>Gift Registry</h2>
                        <span> Given freely and out of pure love</span>
                    </div>
                    <div class="service-text">
                        <p> doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                            veritatis.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--SERVICE END-->

<!--CART START-->
<div class="section-padding">
    <div class="container">
        <div class="row">
            <div class="page-title text-center">
                <div class="horse-car hidden-sm hidden-xs">
                    <img class="car" src="./lib/images/carriage.png" alt="images">
                    <img class="wheel-one round" src="./lib/images/wheel-front.png" alt="images">
                    <img class="wheel-two round" src="./lib/images/wheel-rear.png" alt="images">
                </div>
            </div>
        </div>
    </div>
</div>
<!--CART END-->
<div class="signup-newsletter footer-ct1 section-padding">
    <div class="container">
        <div class="row">
            <div style="visibility: visible; animation-name: zoomIn;" class="col-sm-12 text-center section-padding">
                <h3>Join Our Newsletter</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control  col-md-6" placeholder="Please Enter Your Email Id">
                    </div>
                    <button type="submit" class="btn btn-primary">Join <Newsletter></Newsletter></button>
                </form>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
</div>