

           <div class="panel panel-default share">
              <div class="input-group">
                <!-- /btn-group -->
                <div class="fb-comments" data-href="http://m.me/alpirawatgallery" data-numposts="5"></div>
              </div>
              <!-- /input-group -->
            </div>
<!--            <div class="tabbable">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#pic" data-toggle="tab"><i class="fa fa-fw fa-picture-o"></i> Photos</a></li>
                <li class=""><a href="#profile" data-toggle="tab"><i class="fa fa-fw fa-folder"></i> Albums</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade active in" id="pic">
                  <img src="lib/images/place1.jpg" alt="image" />
                  <img src="lib/images/place2.jpg" alt="image" />
                  <img src="lib/images/food1.jpg" alt="image" />
                </div>
                <div class="tab-pane fade" id="profile">
                  <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth
                    letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.
                    Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                </div>
                <div class="tab-pane fade" id="dropdown1">
                  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy
                    salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably
                    haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                </div>
                <div class="tab-pane fade" id="dropdown2">
                  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo
                    park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial
                    keffiyeh echo park vegan.</p>
                </div>
              </div>
            </div>-->
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading panel-heading-gray">
                    <!--<a href="#" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>-->
                    <i class="fa fa-fw fa-info-circle"></i> About
                  </div>
                  <div class="panel-body">
                    <ul class="list-unstyled profile-about margin-none">
                      <li class="padding-v-5">
                        <div class="row">
                          <div class="col-sm-4"><span class="text-muted">Date of Birth</span></div>
                          <div class="col-sm-8">10 June 1989</div>
                        </div>
                      </li>
                      <li class="padding-v-5">
                        <div class="row">
                          <div class="col-sm-4"><span class="text-muted">Job</span></div>
                          <div class="col-sm-8">Software Engineer</div>
                        </div>
                      </li>
                      <li class="padding-v-5">
                        <div class="row">
                          <div class="col-sm-4"><span class="text-muted">Gender</span></div>
                          <div class="col-sm-8">Female</div>
                        </div>
                      </li>
                      <li class="padding-v-5">
                        <div class="row">
                          <div class="col-sm-4"><span class="text-muted">Lives in</span></div>
                          <div class="col-sm-8">Noida</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading panel-heading-gray">
<!--                    <div class="pull-right">
                      <a href="#" class="btn btn-primary btn-xs">Add <i class="fa fa-plus"></i></a>
                    </div>-->
                    <i class="icon-user-1"></i> Recent Work
                  </div>
                  <div class="panel-body">
                    <ul class="img-grid">
                      <li>
                        <a href="#">
                          <img src="lib/images/11.png" alt="Lady on beach" />
                        </a>
                      </li>
                      
                      <li>
                        <a href="#">
                          <img src="lib/images/10.png" alt="image" />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading panel-heading-gray">
                <i class="fa fa-bookmark"></i> Recent Exhibitions
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        <a href="#" class="h5 margin-none">Early Morning</a>
                        <div class="text-muted">
                          <small><i class="fa fa-calendar"></i> 2012</small>
                        </div>
                      </div>
                      <a href="#">
                        <img src="lib/images/3.jpg" alt="image" class="img-responsive" />
                      </a>
                      <div class="panel-body">
                        <ul class="icon-list icon-list-block">
                        <li><i class="fa fa-map-marker fa-fw"></i> <a href="#"  onclick="javascript:void(0)">Exhibited at Uttarakhand Kala Parishad, 2013, Dehradun, Uttarakhand, India</a></li>
                      </ul>
<!--                        <div>
                          <div class="pull-right">
                            <a href="#" class="btn btn-primary btn-xs">read</a>
                          </div>

                          <a href="#" class="text-muted"> <i class="fa fa-comments"></i> 6</a>
                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body text-center">
                        <a href="#" class="h5 margin-none">Gossiping Girls</a>
                        <p class="text-muted"><i class="fa fa-calendar"></i> 2013</p>
                        
                      </div>
                      <a href="#">
                        <img src="lib/images/9.jpg" alt="image" class="img-responsive" />
                      </a>
                      <div class="panel-body">
                        <ul class="icon-list icon-list-block">
                        <li><i class="fa fa-map-marker fa-fw"></i> <a href="#"  onclick="javascript:void(0)">Exhibited at Uttarakhand Kala Parishad, 2013, Dehradun, Uttarakhand, India</a></li>
                      </ul>
                      </div>
                    </div>
                  </div>
                   <div class="col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-body text-center">
                        <a href="#" class="h5 margin-none">Calm Horses</a>
                        <p class="text-muted"><i class="fa fa-calendar"></i> 2016</p>
                        
                      </div>
                      <a href="#">
                        <img src="lib/images/10.png" alt="image" class="img-responsive" />
                      </a>
                      <div class="panel-body">
                        <ul class="icon-list icon-list-block">
                        <li><i class="fa fa-map-marker fa-fw"></i> <a href="#"  onclick="javascript:void(0)">Exhibited at Kala Ayam, 2016, Mussorie, Uttarakhand, India</a></li>
                      </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        